.divider {
  margin: 100px 0px;
  display: flex;
}

.divider-bar {
  height: 0px;
  width: 40%;
  border: 1.5px solid;
  margin: auto;
}

.divider-text {
  width: 60%;
  text-align: center;
  margin: 0px 0px;
  font-weight: 400;
  font-size: 30px;
}

@media only screen and (max-width: 1024px) {
  .divider-bar {
    width: 70%;
  }
  .divider-text {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .divider {
    margin: 50px 0px;
  }

  .divider-bar {
    width: 80%;
  }

  .divider-text {
    font-weight: 600;
    font-size: 20px;
  }
}
